.container {
  max-width: 1200px;
  min-width: 320px;
  width: 90vw;
  margin: 0 auto;
}

.restaurant-wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 60px;
}

.restaurant-section.planned {
  border-top: 2px dashed #ff9670b9;
}

.restaurant-grid-title {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.restaurant-grid-title div {
  padding: 8px 0;
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.restaurant-grid-title div::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 200px;
  height: 5px;
  background-color: #ffab91; /* 연한 포인트 색상 */
  border-radius: 3px;
}

.restaurant-grid-title div p:first-child {
  font-size: 24px;
  font-weight: 900;
}
.restaurant-grid-title div p:last-child {
  border: 1px solid #df7d60;
  color: white;
  background-color: #ffab91;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 4px 6px;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 0.2s ease;
}

.restaurant-grid-title div p:last-child:hover {
  border: 1px solid #df7d60;
  color: white;
  background-color: #f89a7e;
  transform: translateY(-2px);
}

.restaurant-grid {
  display: grid;

  gap: 20px;
  justify-items: center;
  align-items: start;
}

.restaurant-grid.visited {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.restaurant-grid.planned {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.no-card-text {
  color: #ffb387;
  font-size: 16px;
}

@media (max-width: 767px) {
  .restaurant-grid.planned {
    grid-template-columns: 1fr;

    gap: 20px;
  }
}
