.container {
  max-width: 1980px;
  min-width: 720px;

  width: 96vw;
}

.header {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  color: #4c4c4c;

  margin-bottom: 30px;
  position: relative;
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
}

.header p {
  font-size: 18px;
  margin-top: 10px;
}

.auth-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: 600;
  background-color: #adadad;
  width: fit-content;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #777777;
}

.auth-button.register {
  right: 100px;
}

.restaurant-wrapper {
  display: flex;
  align-items: start;
}

.restaurant-wrapper > div:first-child {
  flex: 2;
}

.restaurant-wrapper > div:last-child {
  flex: 1;
}

.restaurant-grid-title {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.restaurant-grid-title.visited h2 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(255, 103, 103);
  width: 300px;
  border-radius: 8px;
  padding: 8px 0;
  margin: 20px 0;
  cursor: pointer;
}

.restaurant-grid-title.visited h2:hover {
  background-color: rgb(241, 76, 76);
}

.restaurant-grid-title.planned h2 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(235, 163, 86);
  width: 300px;
  border-radius: 8px;
  padding: 8px 0;
  margin: 20px 0;
  cursor: pointer;
}

.restaurant-grid-title.planned h2:hover {
  background-color: rgb(220, 141, 57);
}

.restaurant-grid {
  display: grid;
  gap: 30px;
  justify-content: center;
  align-items: start;
}

.restaurant-grid.visited {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 0 20px;
}

.restaurant-grid.planned {
  grid-template-columns: repeat(1, 300px);
}
