.container {
  max-width: 1200px;
  min-width: 400px;
  width: 90vw;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  color: #4c4c4c;

  margin-bottom: 30px;
  position: relative;
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
}

.header p {
  font-size: 18px;
  margin-top: 10px;
}

.auth-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: 600;
  background-color: #adadad;
  width: fit-content;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #777777;
}

.auth-button.register {
  right: 100px;
}

.restaurant-wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 80px;
}

.restaurant-grid-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.restaurant-grid-title h2 {
  width: 300px;
  border-radius: 8px;
  padding: 8px 0;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
}

.restaurant-grid-title h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background-color: #ffab91; /* 연한 포인트 색상 */
  border-radius: 3px;
}

.restaurant-grid-title.visited h2 {
}

.restaurant-grid-title.planned h2 {
}

.restaurant-grid {
  display: grid;

  gap: 20px;
  justify-items: center;
  align-items: start;
}

.restaurant-grid.visited {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.restaurant-grid.planned {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
