.recommended-restaurant-card {
  width: 100%;
  background: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  position: relative;
  cursor: pointer;
  height: fit-content;
}

.recommended-restaurant-backgroundImg-wrapper {
  width: 38%;
  position: relative;
  overflow: hidden;
  min-height: 100px;
  background-color: #e4e4e4;
}

.recommended-restaurant-backgroundImg {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.recommended-restaurant-card-info-wrapper {
  flex: 1;
}

.restaurant-card-info.recommended {
  padding-bottom: 10px;
}

.restaurant-card-info.recommended h2 {
  text-align: left;
  font-weight: 600;
  font-family: 'Gowun Batang', serif;
  font-size: 24px;
}

.recommended-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.recommended-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.recommended-member-name {
  flex: 1;
  align-items: start;
  justify-content: start;
  margin-left: 14px;
  display: flex;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
}

.recommended-member-name p:first-child {
  letter-spacing: 0.8px;
  color: #da5634;
}
.recommended-member-name p:last-child {
  color: #888;
}

.recommended-text {
  color: #777;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  padding-left: 14px;
}

.recommended-text span {
  font-weight: 900;
}
.recommended-text span:first-child {
  margin-right: 6px;
}
.recommended-text span:last-child {
  margin-left: 6px;
}

@media (max-width: 480px) {
  .recommended-restaurant-card {
    width: 100%;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    height: fit-content;
  }

  .recommended-restaurant-backgroundImg-wrapper {
    width: 38%;
  }

  .recommended-restaurant-backgroundImg {
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
  }

  .recommended-restaurant-card-info-wrapper {
    flex: 1;
  }

  .restaurant-card-info.recommended {
    padding-bottom: 0px;
  }

  .restaurant-card-info.recommended h2 {
    font-size: 22px;
  }

  .recommended-member {
    padding: 0px 10px 0px 0px;
  }

  .recommended-member-name {
    margin-left: 0px;

    gap: 4px;
    font-size: 14px;
  }

  .recommended-member-avatar-wrapper {
    scale: 0.8;
  }

  .recommended-member-name {
    gap: 4px;
    font-size: 14px;
  }

  .recommended-text {
    font-size: 14px;
    padding-left: 0px;
  }
}
