.restaurant-card {
  /* max-width: calc(1200px / 2 - 20px / 2); */
  width: 100%;
  background: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  z-index: 10;
  width: 40px;

  color: #d2d2d2;
  top: 12px;
  right: 6px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
}

.delete-button:hover {
  color: #f4a261;
}

.revisit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eac6a8;
  background-color: #fff6ef;
  color: #ecba92;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-size: 22px;

  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 10;
}

.revisit-button:hover {
  background-color: #f7e5d8;
  color: #df9a62;
}

.restaurant-card:hover {
  transform: translateY(-2px);
}

.restaurant-backgroundImg-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 200px;
}

.restaurant-backgroundImg {
  position: absolute;
  object-fit: cover;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.restaurant-card-info {
  padding: 20px 20px 12px 20px;
}

.restaurant-card-info h2 {
  font-family: 'Gowun Batang', serif;
  text-align: left;
  font-size: 26px;
  font-weight: 600;
}

.restaurant-card-info .location {
  text-align: left;
  font-size: 15px;
  opacity: 0.9;
  margin-top: 5px;
  color: #666;
}

.restaurant-card-info .location i {
  color: #ff7a59;
  margin-right: 10px;
}

.visits {
  padding: 12px;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.visit-card {
  border-left: 4px solid #f4a261;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
}

.visit-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.visit-count {
  font-weight: 600;
  color: #d94f4f;
}

.visit-date {
  font-size: 0.85em;
  color: #666;
}

.members ul {
  list-style: none;
  display: flex;
  justify-content: end;

  position: relative;
  height: 32px;
}

.members li {
  position: absolute;
}

.rating {
  color: #f4a261;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating.visit {
  color: #f4a261;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.noRating {
  color: #c8c8c8;
  font-weight: 400;
}
