.cardtags-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.cardtags-list.card {
  padding: 0 12px;
  justify-content: end;
}

.cardtags-item {
  text-align: left;
  padding: 3px 9px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid;
}

/* 선택된 태그 스타일 */
.cardtags-item.selected {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.cardtags-item:hover:not(.selected) {
  opacity: 0.8;
  transform: translateY(-1px);
}
