/* src/components/common/UserProfileImage.css */

.member-item {
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.member-item.admin-glow {
  box-shadow:
    0 0 3px 1px gold,
    0 0 8px 3px rgba(255, 215, 0, 0.3),
    0 0 12px 5px rgba(255, 215, 0, 0.1);
}

.member-avatar {
  object-fit: cover;
  border-radius: 50%;
}
